html, body {
    margin:0;
    padding:0;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    font-family: 微软雅黑;
    color: #222222;
    background: #1c1c1c;
    color: #000;
    /* font-family: "宋体","新宋体",sans-serif; */
}

.title_home {
    background-color: #1c1c1c;
    height: 120px;
    visibility: visible;
    transition: top .3s;
    vertical-align: bottom;
    width: 100%;
    line-height: 120px;
}
.company_name{
    display: inline;
}

.company_name b {
    font-size: 30px;
    color: #ffc001;
    margin: 0px;
    margin-left: 105px;
    max-width: 120px;
}

.navContent{
  display: inline-block;
  position: absolute;
  right: 0;
  margin-right: 200px;
  text-align: center;
}
.navContent a{
    text-decoration: none;
    font-size: 15px;
    color: #8e8e8e;
    width: 80px;
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}
.navContent a:hover{
    color:#ffc001;
}

.itemSpanLine{
    display: inline-block;
    width: 20px;
}

/* 细线效果 */
.bd-t{
    position:relative;
 }
 .bd-t:after{
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0.5px;
    background-color: #232323;
    /* 如果不用 background-color, 使用 border-top:1px solid #e0e0e0; */
    -webkit-transform: scaleY(.5);
    transform:scaleY(.5);
 }

 .sercvice{
     margin-top: 50px;
 }